certifi==2018.11.29
chardet==3.0.4
Click==7.0
dataclasses==0.6
Deprecated==1.2.4
Flask==1.0.2
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
PyGithub==1.43.4
PyJWT==1.7.1
python-dotenv==0.10.1
requests==2.21.0
urllib3==1.24.1
Werkzeug==0.15.3
wrapt==1.11.0
